@import './base.css';
@import './reset.css';
@import './button.css';

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding-block: 1.5rem;
  padding-inline: 1rem;
}

.flex {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'JetBrains Mono', monospace;
}

body {
  font-family: 'Montserrat', sans-serif;
}

input[type="text"] {
  padding: 0.6rem;
  border-radius: 2rem;
}

.border-t {
  border-top: 1px solid #e2e8f0;
}

.border-b {
  border-bottom: 1px solid #e2e8f0;
}

.table {
  display: grid;
  grid-template-columns: 8rem 4fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.space {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
}

.form-input {
  display: grid;
}

.link {
  font-size: 1.2rem;
  font-weight: 900;
  color: black;
}